body{
/*background-color : #599fd9;*/
background-image : linear-gradient(to right, rgba(0,0,255,0), rgba(0,0,255,1));
/*0 indicates full transparency, 1 indicates full color (no transparency).*/
min-height:100vh;
/*overflow-x : hidden*/
}

.vertical-nav{
min-width : 17rem;
width : 17rem;/*16px	1rem*/
height:100vh;
position:fixed;
top:0;
left:0;
/*box-shadow:3px 3px 10px rgba(0,0,0,0.1);*/
transition: all 0.4s;
background-color : #EAFAF1;
}

.page-content{
width:calc(100% - 17rem);
margin-left:17rem;
transition:all 0.4s;

}

#sidebar.active{
margin-left : -17rem;
}

#content.active{
width : 100%;
margin : 0;
}

.dashboard-text{
letter-spacing : 0.1em;
color : red;
}


.nav-link{
font-weight : bold;
background-color :#D5F5E3;
}


