{% extends 'admin_base.html' %}
{% block main  %}

<div class="card shadow">
    <div class="card-body">

        <h5 class="p-2" style="border-bottom: 2px solid orange;">Donation Accepted</h5>
<div class="container-fluid">

        <table class="table table-bordered table-sm" id="example">
            <thead>
                <tr>
                    <th>S. No.</th>
                    <th>Donation Name</th>
                    <th>Donation Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in donation %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.donationname}}</td>
                    <td>{{i.donationdate}}</td>
                    <td>{{i.status}}</td>
                    <td><a href="{% url 'accepted_donationdetail' i.id %}" class="text-primary">View Details</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
</div>
</div>


{% endblock %}
