{% extends 'admin_base.html' %}
{% block main  %}
<div class="card shadow">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange;">Add Donation Area</h5>
<div class="container-fluid">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>Donation Area Name</label>
                <input type="text" name="areaname"  class="form-control" placeholder="Donation Area">
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group">
                <label>Description</label>
                <textarea name="description"  class="form-control" placeholder="Description"></textarea>
            </div>
        </div>


    </div>
    <input type="submit" value="Submit" class="m-2 px-3 btn btn-primary">
</form>
</div>
</div>
</div>

{% ifequal error "no" %}
<script>
    alert('Donation area has been added.');
    window.location=('{% url 'manage_area' %}');
</script>
{% endifequal %}
{% ifequal error "yes" %}
<script>
    alert('Something Went Wrong. Please try again');
</script>
{% endifequal %}
{% endblock %}