{% load static %}
<html>
<head>
<style>
    body{
    background:url('{% static 'images/blacks.jpg' %}');
    background-size : 100%;
background-position : 0px 80px;
background-repeat : no-repeat;
opacity : 0.9
    }
</style>
</head>
<body>
{% include 'navigation.html' %}
<hr class="mt-0">

<div class="container mt-5">
    <p style = "color : White; font-size : 50px; font-family: Monotype Corsiva" class="text-center text-white">Login As a ...</p>
    <div class="row mt-5">
        <div class="col-lg-4">
            <div class="card" style="width:300px">
  <img class="card-img-top" src="{% static 'images/donorlogin.jpg' %}" alt="Card image"
       style="width:100% ; height : 200px">
  <div class="card-body">
    <h4 class="card-title">Donor</h4>
    <p class="card-text">Happiness doesn’t result from what we get, but from what we give.
    <br><br>
    </p>
    <a href="{% url 'donorlogin' %}" class="btn btn-primary">Go To Donor Login <i class="fas fa-angle-double-right"></i></a>
  </div>
</div>
        </div>

        <div class="col-lg-4">
            <div class="card" style="width:300px">
  <img class="card-img-top" src="{% static 'images/volunteerlogin.jpg' %}" alt="Card image" style="width:100% ; height : 200px">
  <div class="card-body">
    <h4 class="card-title">Volunteer</h4>
    <p class="card-text">Volunteers do not necessarily have the time; they just have the heart.<br><br></p>
    <a href="{% url 'volunteer_login' %}" class="btn btn-primary">Go To Volunteer Login <i class="fas fa-angle-double-right"></i></a>
  </div>
</div>
        </div>

        <div class="col-lg-4">
            <div class="card" style="width:300px">
  <img class="card-img-top" src="{% static 'images/adminlogin.jpg' %}" alt="Card image" style="width:100% ; height : 200px">
  <div class="card-body">
    <h4 class="card-title">Admin</h4>
    <p class="card-text">A leader with strong management abilities helps the firm achieve its purpose and business goals.</p>
    <a href="{% url 'admin_login' %}" class="btn btn-primary">Go To Admin Login <i class="fas fa-angle-double-right"></i></a>
  </div>
</div>
        </div>
    </div>
</div>


</body>
</html>