{% extends 'donor_base.html' %}
{% block main  %}

<script>
    $(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'pdfHtml5'
        ]
    } );
} );
</script>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">

<div class="card shadow">
    <div class="card-body">

        <h5 class="p-2" style="border-bottom: 2px solid orange;">Donation History</h5>
<div class="container-fluid">

        <table class="table table-bordered table-sm" id="example">
            <thead>
                <tr>
                    <th>S. No.</th>
                    <th>Donation Name</th>
                    <th>Donation Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in donation %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>
                        {% if i.donation_type == 2 %}
                        Fund Donation
                        {% else %}
                        {{i.donationname}}
                        {% endif %}
                    </td>
                    <td>{{i.donationdate}}</td>
                    <td>
                        {% if i.donation_type == 2 %}
                        {{i.amount}}
                        {% else %}
                        -----
                        {% endif %}
                    </td>
                    <td>{{i.status}}</td>
                    <td>
                        {% if i.donation_type == 2 %}
                        ------
                        {% else %}
                        <a href="{% url 'donationdetail_donor' i.id %}" class="text-primary">View Details</a></td>

                        {% endif %}
                </tr>
                {% endfor %}

            </tbody>
        </table>
</div>
</div>
</div>


{% endblock %}
